.layout {
    height: 92vh;
    position: relative;
    background-image: linear-gradient(
    to right bottom ,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), 
    url("file:///C:/Users/omare/Downloads/8Wggzk01.svg");
    background-size:auto;
    background-position: top ;
    padding-top: 8vh;
    overflow: hidden;
    background-repeat: no-repeat;    
}
.textBox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn {
    padding: 2rem;
    background-color: white;
    display: flex;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 5px;
    color: rgb(80, 80, 80);
    align-items: center;
}

.btn:hover {
    background-color: rgb(200, 200, 200);;
    translate: transform(20px,0px);
}
.arrow {
    margin-left: .5rem;
}